@font-face {
  font-family: 'bloomishlyregular';
  src: url('/fonts/bloomishly-webfont.eot');
  src: url('/fonts/bloomishly-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/bloomishly-webfont.woff2') format('woff2'),
       url('/fonts/bloomishly-webfont.woff') format('woff'),
       url('/fonts/bloomishly-webfont.ttf') format('truetype'),
       url('/fonts/bloomishly-webfont.svg#bloomishlyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fnordtwenty-three';
  src: url('/fonts/fnord-twenty-three-webfont.eot');
  src: url('/fonts/fnord-twenty-three-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/fnord-twenty-three-webfont.woff2') format('woff2'),
       url('/fonts/fnord-twenty-three-webfont.woff') format('woff'),
       url('/fonts/fnord-twenty-three-webfont.ttf') format('truetype'),
       url('/fonts/fnord-twenty-three-webfont.svg#fnordtwenty-three') format('svg');
  font-weight: normal;
  font-style: normal;
}
