---
title: Byford Smith Wedding – Friday, 18th May 2018
---

<div class="hero-wrapper">
  <div class="hero">
    <h1>Emily <span class="ampersand">&amp;</span> Ollie <span class="subheading">are getting married!</span></h1>

    <ul>
      <li>Bassmead Manor Barns, Cambridgeshire</li>
      <li>Friday 18<sup>th</sup> May 2018 at 2<span style="font-variant: small-caps;">pm</span></li>
    </ul>
  </div>
</div>

<div class="content">
  <h2>The Venue</h2>

  <p>
    Our ceremony and reception will be held at the beautiful Bassmead Manor
    Barns, which stands within the medieval moat of an ancient manor house,
    surrounded by open countryside.
  </p>

  <address>
    Bassmead Manor Barns<br />
    Staploe<br />
    St. Neots<br />
    Cambridgeshire<br />
    PE19 5JB
  </address>

  <p>
    There is ample parking on site. The venue has a licensed bar which accepts
    cash and card payments.
  </p>

  <h2>Timings</h2>

  <p>All timings are approximate… except the ceremony.</p>

  <dl>
    <dt>2 pm</dt>
      <dd>Ceremony in the Rickety Barn</dd>

    <dt>2:30 pm</dt>
      <dd>Drinks reception and photos</dd>
    
    <dt>4 pm</dt>
      <dd>Wedding breakfast in Moat Barn</dd>

    <dt>7:30 pm</dt>
      <dd>Evening guests arrive</dd>

    <dt>8:15 pm</dt>
      <dd>The cake is cut, followed by first dance</dd>

    <dt>8:30 pm</dt>
      <dd>Evening entertainment - drinks and dancing with our live band</dd>

    <dt>9 pm</dt>
      <dd>Evening food served</dd>

    <dt>11:30 pm</dt>
      <dd>Carriages</dd>
  </dl>

  <h2>RSVP</h2>

  <p>You can RSVP online by using <a href="/rsvp">this form</a>.</p>

  <h2>Accommodation</h2>

  <p>Unfortunately accommodation on-site is limited and allocated to the wedding party. There is an abundance of beautiful hotels, guesthouses and cottages within a few miles of the venue.</p>

  <div class="two-col">

    <div class="section">
      <h3>Bed &amp; Breakfasts</h3>

      <h4>The Eaton Oak <small>(2.5 miles from Staploe)</small></h4>
      <p class="details">
        Crosshall Rd, Eaton Ford, St Neots, PE19 7DB<br />
        01480 219555<br />
        <a href="http://www.eatonoak.co.uk">Visit website</a>
      </p>

      <h4>The Bays Guesthouse <small>(3.5 miles from Staploe)</small></h4>
      <p class="details">
        New St, St Neots<br />
        01480 403701
      </p>

      <h4>Church Farm <small>(5 miles from Staploe)</small></h4>
      <p class="details">
        High Street, Roxton, MK44 3EB<br />
        01234 870234<br />
        <a href="http://www.a1tourism.com/uk/churchfarmbedford.html">Visit website</a>
      </p>

      <h4>Whitehouse Cottage <small>(5 miles from Staploe)</small></h4>
      <p class="details">
        Paxton Hill, St Neots, PE19 6RA<br />
        Fleur and Paul Bateman<br />
        01480 470425 / 07977 071448<br />
        <a href="http://www.whitehousecottage.com">Visit website</a>
      </p>

      <h4>The Windmill <small>(6 miles from Staploe)</small></h4>
      <p class="details">
        Thurleigh, MK44 2DF<br />
        01234 771016<br />
        <a href="http://www.thewindmill.uk.com">Visit website</a>
      </p>

      <h4>Grafham Water Lodges <small>(8 miles from Staploe)</small></h4>
      <p class="details">
        Highfield Farm, Perry, PE28 0BN<br />
        Stephen, Lynn or David<br />
        01480 810036<br />
        <a href="http://www.grafhamwaterlodges.co.uk">Visit website</a>
      </p>

      <h4>The Grange <small>(10 miles from Staploe)</small></h4>
      <p class="details">
        Melchbourne Road, Riseley, North Bedfordshire, MK44 1BY<br />
        07801 866428<br />
        <a href="http://www.grangegatehouse.co.uk">Visit website</a>
      </p>
    </div>

    <div class="section">
      <h3>Campsite / Bed &amp; Breakfast</h3>

      <h4>Agden Hill Farm (6.5 miles from Staploe)</h4>
      <p class="details">
        Agden Green, Gt. Staughton, St Neots, PE19 5EX<br />
        01480 869424<br />
        <a href="http://www.agdenhillfarm.co.uk">Visit website</a><br />
      </p>
    </div>

    <div class="section">
      <h3>Hotels</h3>

      <h4>The George Hotel &amp; Brasserie <small>(8 miles from Staploe)</small></h4>
      <p class="details">
        High Street, Buckden, St.Neots<br />
        01480 812300<br />
        <a href="http://www.thegeorgebuckden.co.uk">Visit website</a><br />
        <em>Please quote ‘Bassmead01’ upon booking in order to apply for discounted rates</em>
      </p>

      <h4>Premier Inn <small>(3 miles from Staploe)</small></h4>
      <p class="details">
        Great North Rd, Eaton Socon, St Neots, PE19 8EN<br />
        0870 990 6314<br />
        <a href="https://www.premierinn.com/gb/en/hotels/england/cambridgeshire/st-neots/st-neots-a1wyboston.html">Visit website</a>
      </p>

      <h4>Premier Inn <small>(3 miles from Staploe)</small></h4>
      <p class="details">
        Colmworth Park, St Neots<br />
        0870 197 7238<br />
        <a href="https://www.premierinn.com/gb/en/hotels/england/cambridgeshire/st-neots/st-neots-colmworth-park.html">Visit website</a>
      </p>

      <h4>Wyboston Lakes Hotel Complex <small>(3 miles from Staploe)</small></h4>
      <p class="details">
        01480 212625<br />
        <a href="http://www.wybostonlakes.co.uk">Visit website</a>
      </p>
      
      <h4>Cornfields Restaurant &amp; Hotel <small>(5 miles from Staploe)</small></h4>
      <p class="details">
        Wilden Road, Colmworth, MK44 2NJ<br />
        01234 378990<br />
        <a href="http://www.cornfieldsrestaurant.co.uk">Visit website</a>
      </p>

      <h4>Old Bridge Hotel <small>(15 miles from Staploe)</small></h4>
      <p class="details">
        1 High Street, Huntingdon, PE29 3TQ<br />
        01480 424300<br />
        <a href="http://www.huntsbridge.com">Visit website</a>
      </p>
    </div>
  </div>

  <h2>Getting Around</h2>

  <div class="two-col">

    <h4>Rory Private Hire</h4>
    <p class="details">07855 252226</p>

    <h4>Anglian Taxis</h4>
    <p class="details">01480 475222</p>

    <h4>BNK Cars</h4>
    <p class="details">01480 472222</p>

    <h4>Steves Private Hire</h4>
    <p class="details">
      St Neots - 01480 471111<br />
      Huntingdon - 01480 413222
    </p>

    <h4>Mike &amp; Diane</h4>
    <p class="details">
      07917 281983<br />
      <em>Mini Buses available</em>
    </p>

    <h4>Buckden Private Hire</h4>
    <p class="details">01480 812929</p>

    <h4>Roy’s Private Hire</h4>
    <p class="details">01767 699586</p>

    <h4>A1 Taxis</h4>
    <p class="details">01234 364444</p>
  </div>

</div>
