---
title: Byford Smith Wedding – Friday, 18th May 2018
---

<div class="hero-wrapper">
  <div class="hero">
    <h1>Emily <span class="ampersand">&amp;</span> Ollie <span class="subheading">are getting married!</span></h1>

    <ul>
      <li>Bassmead Manor Barns, Cambridgeshire</li>
      <li>Friday 18<sup>th</sup> May 2018 at 2<span style="font-variant: small-caps;">pm</span></li>
    </ul>
  </div>
</div>

<div class="content">
  <h2>RSVP</h2>

  <p>Please RSVP by Sunday 4th March, filling in the form once per person.</p>

  <form name="rsvp" data-netlify="true">
    <label class="question-label" for="name">Your Name</label>
    <input id="name" type="text" name="name">
  
    <fieldset>
      <legend>Will you be able to join us to celebrate our wedding?</legend>

      <div class="radio">
        <input name="status" class="radio-input" id="rsvp-accept" type="radio" value="accept">
        <label class="radio-label" for="rsvp-accept">
          I would be delighted to attend
        </label>
      </div>

      <div class="radio">
        <input name="status" class="radio-input" id="rsvp-decline" type="radio" value="decline">
        <label class="radio-label" for="rsvp-decline">
          I regretfully decline
        </label>
      </div>
    </fieldset>

    <label class="question-label" for="notes">
        Dietary requirements, song requests, other things we should know, or just a space for something random…
    </label>
  
    <textarea id="notes" name="notes" rows="5"></textarea>

    <button type="submit">Send RSVP</button>

  </form>

</div>
